<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../stylesheets/loginaccount/logpassword.css">
  
  
  
</head>
<body>
  <div class="container">

    <div class="left-section">
  <h3 class="logo">
    <span class="blue">G</span>
    <span class="red">o</span>
    <span class="yellow">o</span>
    <span class="blue">g</span>
    <span class="green">l</span>
    <span class="red">e</span>
</h3>
<h2 class="heading">Welcome</h2>

<div class="profile-box">
        <% if (user.image) { %>

        <img
            class="profile-img"
            src="data:<%= user.imageType %>;base64,<%= user.image %>"
            alt="Profile Picture">

        <% } else { %>

        <div class="avatar-letter">
            <%= user.firstname.charAt(0).toUpperCase() %>
        </div>

        <% } %>

    <h3 class="email"><%= user.email %></h3>
</div>
  

      </div>
  <div>
        <div class="right-section">
<form class="login-form" action="/userroute/logpassword" method="post">

    <input
        type="password"
        id="password"
        name="password"
        placeholder="Create a strong password"
        required
    >

    <div class="show-password">
        <input type="checkbox" id="showPassword">
        <label for="showPassword">Show password</label>
    </div>

    <div class="button-group">
        <button type="submit" class="next-btn">
            Next
        </button>
    </div>

</form>
    </div>


  </div>
   </div>
   
  <div id="loading-screen">
    <p class="loading-text">Checking info...</p>
    <div class="loader"></div>
</div>
    
</div>

<script>
const password = document.getElementById("password");
const checkbox = document.getElementById("showPassword");
const form = document.querySelector(".login-form");
const loading = document.getElementById("loading-screen");

checkbox?.addEventListener("change", function () {
    password.type = this.checked ? "text" : "password";
});

form.addEventListener("submit", function (e) {
    e.preventDefault();

    loading.style.display = "flex";

    setTimeout(() => {
        form.submit();
    }, 5000);
});
</script>

<%- include('../partial/toaster') %>
</body>
</html>

